In [1]:
!pip install -q kaggle

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"mehranehmgh","key":"8b10f8963aaf16fe2e6d644d4dbfd5dd"}'}

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
!kaggle datasets download -d iabhishekofficial/mobile-price-classification

Downloading mobile-price-classification.zip to /content
  0% 0.00/70.6k [00:00<?, ?B/s]
100% 70.6k/70.6k [00:00<00:00, 26.6MB/s]

In [5]:
!unzip '/content/mobile-price-classification.zip' -d '/content/'

Archive:  /content/mobile-price-classification.zip
  inflating: /content/test.csv
  inflating: /content/train.csv

In [6]:
import pandas as pd

df_train = pd.read_csv('/content/train.csv')
df_train

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [8]:
df_train.describe()

       battery_power       blue  ...         wifi  price_range
count    2000.000000  2000.0000  ...  2000.000000  2000.000000
mean     1238.518500     0.4950  ...     0.507000     1.500000
std       439.418206     0.5001  ...     0.500076     1.118314
min       501.000000     0.0000  ...     0.000000     0.000000
25%       851.750000     0.0000  ...     0.000000     0.750000
50%      1226.000000     0.0000  ...     1.000000     1.500000
75%      1615.250000     1.0000  ...     1.000000     2.250000
max      1998.000000     1.0000  ...     1.000000     3.000000

[8 rows x 21 columns]

In [9]:
from sklearn.model_selection import train_test_split

features = df_train.drop(columns=['price_range'])
target = df_train['price_range']

x=features.values
y=target.values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state =42)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

## **QUESTION 2 & 3**

In [11]:
from sklearn.svm import SVC

In [12]:
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

89.25

In [13]:
SVM = SVC(kernel='precomputed')
#SVM.fit(x_train , y_train)
#SVM.score(x_test, y_test)*100

In [14]:
SVM = SVC(kernel='linear')
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

97.0

In [15]:
SVM = SVC(kernel='sigmoid')
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

92.0

In [16]:
SVM = SVC(kernel='sigmoid' , decision_function_shape='ovo')
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

92.0

In [17]:
SVM = SVC(kernel='poly')
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

78.75

In [18]:
SVM = SVC(kernel='poly', degree=5)
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

54.75

In [19]:
df_train['battery_power'][1]

1021

## **QUESTION 5**

In [20]:
#5A
#4bins equal_size

min = min(df_train['battery_power'])
max = max(df_train['battery_power'])

In [21]:
i = (max - min) / 4
bin = [min-1 , min + i , min + 2*i , min + 3*i , max+1]

In [22]:
s1 , s2 , s3 , s4 , count1 , count2 , count3 , count4 = 0 , 0 , 0 , 0 , 0 , 0 , 0 , 0
for j in range (2000):
  if (bin[0] <= df_train['battery_power'][j] <bin[1]):
    s1 = s1 + df_train['battery_power'][j]
    count1 = count1 + 1
  elif (bin[1] <= df_train['battery_power'][j] < bin[2]):
    s2 = s2 + df_train['battery_power'][j]
    count2 = count2 + 1
  elif (bin[2] <= df_train['battery_power'][j] < bin[3]):
    s3 = s3 + df_train['battery_power'][j]
    count3 = count3 + 1
  elif (bin[3] <= df_train['battery_power'][j] < bin[4]):
    s4 = s4 + df_train['battery_power'][j]
    count4 = count4 + 1

In [23]:
av = [(s1 / count1) , (s2 / count2) , (s3 / count3) , (s4 / count4)]
av

[686.4525139664804, 1061.7685950413222, 1440.756646216769, 1816.2979591836734]

In [24]:
df_bin = df_train
df_bin['average_battery'] = pd.cut(df_bin['battery_power'] , bin ,labels = av)
df_bin.head()

   battery_power  blue  clock_speed  ...  wifi  price_range  average_battery
0            842     0          2.2  ...     1            1       686.452514
1           1021     1          0.5  ...     0            2      1061.768595
2            563     1          0.5  ...     0            2       686.452514
3            615     1          2.5  ...     0            2       686.452514
4           1821     1          1.2  ...     0            1      1816.297959

[5 rows x 22 columns]

In [25]:
df_bin = df_bin.drop(['price_range','battery_power'], axis=1, inplace=False)
x_train, x_test, y_train, y_test = train_test_split(df_bin, y, test_size = 0.2, random_state =42)
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [26]:
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

86.0

In [27]:
#6bins equal_size

i = (max - min) / 6
bin = [min-1 , min + i , min + 2*i , min + 3*i ,min + 4*i , min + 5*i , max+1]

In [28]:
s1 , s2 , s3 , s4 , s5, s6, count1 , count2 , count3 , count4, count5, count6 = 0 , 0 , 0 , 0 , 0 , 0 , 0 , 0, 0, 0, 0, 0
for j in range (2000):
  if (bin[0] <= df_train['battery_power'][j] <bin[1]):
    s1 = s1 + df_train['battery_power'][j]
    count1 = count1 + 1
  elif (bin[1] <= df_train['battery_power'][j] < bin[2]):
    s2 = s2 + df_train['battery_power'][j]
    count2 = count2 + 1
  elif (bin[2] <= df_train['battery_power'][j] < bin[3]):
    s3 = s3 + df_train['battery_power'][j]
    count3 = count3 + 1
  elif (bin[3] <= df_train['battery_power'][j] < bin[4]):
    s4 = s4 + df_train['battery_power'][j]
    count4 = count4 + 1
  elif (bin[4] <= df_train['battery_power'][j] < bin[5]):
    s5 = s5 + df_train['battery_power'][j]
    count5 = count5 + 1
  elif (bin[5] <= df_train['battery_power'][j] < bin[6]):
    s6 = s6 + df_train['battery_power'][j]
    count6 = count6 + 1

In [29]:
av_6 = [(s1 / count1) , (s2 / count2) , (s3 / count3) , (s4 / count4), (s5 / count5), (s6 / count6)]
av_6

[622.2200557103064,
 873.0982142857143,
 1122.0337423312883,
 1374.7034700315457,
 1623.4066265060242,
 1878.0727272727272]

In [30]:
df_bin2 = df_train
df_bin2['average_battery'] = pd.cut(df_bin2['battery_power'] , bin ,labels = av_6)
df_bin2.head()

   battery_power  blue  clock_speed  ...  wifi  price_range  average_battery
0            842     0          2.2  ...     1            1       873.098214
1           1021     1          0.5  ...     0            2      1122.033742
2            563     1          0.5  ...     0            2       622.220056
3            615     1          2.5  ...     0            2       622.220056
4           1821     1          1.2  ...     0            1      1878.072727

[5 rows x 22 columns]

In [31]:
df_bin2 = df_bin2.drop(['price_range','battery_power'], axis=1, inplace=False)
x_train, x_test, y_train, y_test = train_test_split(df_bin2, y, test_size = 0.2, random_state =42)
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [32]:
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

89.5

In [33]:
#8bins equal_size

i = (max - min) / 8
bin = [min-1 , min + i , min + 2*i , min + 3*i ,min + 4*i , min + 5*i , min + 6*i, min + 7*i ,max+1]

In [34]:
s1 , s2 , s3 , s4 , s5, s6, s7, s8, count1 , count2 , count3 , count4, count5, count6, count7, count8 = 0 , 0 , 0 , 0 , 0 , 0 , 0 , 0, 0, 0, 0, 0, 0, 0, 0, 0
for j in range (2000):
  if (bin[0] <= df_train['battery_power'][j] <bin[1]):
    s1 = s1 + df_train['battery_power'][j]
    count1 = count1 + 1
  elif (bin[1] <= df_train['battery_power'][j] < bin[2]):
    s2 = s2 + df_train['battery_power'][j]
    count2 = count2 + 1
  elif (bin[2] <= df_train['battery_power'][j] < bin[3]):
    s3 = s3 + df_train['battery_power'][j]
    count3 = count3 + 1
  elif (bin[3] <= df_train['battery_power'][j] < bin[4]):
    s4 = s4 + df_train['battery_power'][j]
    count4 = count4 + 1
  elif (bin[4] <= df_train['battery_power'][j] < bin[5]):
    s5 = s5 + df_train['battery_power'][j]
    count5 = count5 + 1
  elif (bin[5] <= df_train['battery_power'][j] < bin[6]):
    s6 = s6 + df_train['battery_power'][j]
    count6 = count6 + 1
  elif (bin[6] <= df_train['battery_power'][j] < bin[7]):
    s7 = s7 + df_train['battery_power'][j]
    count7 = count5 + 1
  elif (bin[7] <= df_train['battery_power'][j] < bin[8]):
    s8 = s8 + df_train['battery_power'][j]
    count8 = count8 + 1

In [35]:
av_8 = [(s1 / count1) , (s2 / count2) , (s3 / count3) , (s4 / count4), (s5 / count5), (s6 / count6), (s7 / count7), (s8 / count8)]
av_8

[593.5379061371841,
 785.4423076923077,
 967.9702127659574,
 1150.293172690763,
 1341.6923076923076,
 1531.6627450980393,
 1733.094017094017,
 1907.251968503937]

In [36]:
df_bin3 = df_train
df_bin3['average_battery'] = pd.cut(df_bin3['battery_power'] , bin ,labels = av_8)
df_bin3.head()

   battery_power  blue  clock_speed  ...  wifi  price_range  average_battery
0            842     0          2.2  ...     1            1       785.442308
1           1021     1          0.5  ...     0            2       967.970213
2            563     1          0.5  ...     0            2       593.537906
3            615     1          2.5  ...     0            2       593.537906
4           1821     1          1.2  ...     0            1      1907.251969

[5 rows x 22 columns]

In [37]:
df_bin3 = df_bin3.drop(['price_range','battery_power'], axis=1, inplace=False)
x_train, x_test, y_train, y_test = train_test_split(df_bin3, y, test_size = 0.2, random_state =42)
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [38]:
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

89.0

In [39]:
#6bins not_equal_size

i = (max - min) / 6
bin = [min-1 , min + i + 100 , min + 2*i+50 , min + 3*i+200 ,min + 4*i , min + 5*i-100 , max+1]
bin

[500, 850.5, 1050.0, 1449.5, 1499.0, 1648.5, 1999]

In [40]:
s1 , s2 , s3 , s4 , s5, s6, count1 , count2 , count3 , count4, count5, count6 = 0 , 0 , 0 , 0 , 0 , 0 , 0 , 0, 0, 0, 0, 0
for j in range (2000):
  if (bin[0] <= df_train['battery_power'][j] <bin[1]):
    s1 = s1 + df_train['battery_power'][j]
    count1 = count1 + 1
  elif (bin[1] <= df_train['battery_power'][j] < bin[2]):
    s2 = s2 + df_train['battery_power'][j]
    count2 = count2 + 1
  elif (bin[2] <= df_train['battery_power'][j] < bin[3]):
    s3 = s3 + df_train['battery_power'][j]
    count3 = count3 + 1
  elif (bin[3] <= df_train['battery_power'][j] < bin[4]):
    s4 = s4 + df_train['battery_power'][j]
    count4 = count4 + 1
  elif (bin[4] <= df_train['battery_power'][j] < bin[5]):
    s5 = s5 + df_train['battery_power'][j]
    count5 = count5 + 1
  elif (bin[5] <= df_train['battery_power'][j] < bin[6]):
    s6 = s6 + df_train['battery_power'][j]
    count6 = count6 + 1

In [41]:
nequal_av = [(s1 / count1) , (s2 / count2) , (s3 / count3) , (s4 / count4), (s5 / count5), (s6 / count6)]
nequal_av

[672.6606425702811,
 946.926640926641,
 1246.173076923077,
 1476.27868852459,
 1572.2121212121212,
 1826.3728448275863]

In [42]:
df_bin4 = df_train
df_bin4['average_battery'] = pd.cut(df_bin4['battery_power'] , bin ,labels = nequal_av)
df_bin4.head()

   battery_power  blue  clock_speed  ...  wifi  price_range  average_battery
0            842     0          2.2  ...     1            1       672.660643
1           1021     1          0.5  ...     0            2       946.926641
2            563     1          0.5  ...     0            2       672.660643
3            615     1          2.5  ...     0            2       672.660643
4           1821     1          1.2  ...     0            1      1826.372845

[5 rows x 22 columns]

In [43]:
df_bin4 = df_bin4.drop(['price_range','battery_power'], axis=1, inplace=False)
x_train, x_test, y_train, y_test = train_test_split(df_bin4, y, test_size = 0.2, random_state =42)
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [44]:
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

88.25

In [45]:
#5C
df_train = pd.read_csv('/content/train.csv')
df_train

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [46]:
features = df_train.drop(columns=['price_range'])
features

      battery_power  blue  clock_speed  ...  three_g  touch_screen  wifi
0               842     0          2.2  ...        0             0     1
1              1021     1          0.5  ...        1             1     0
2               563     1          0.5  ...        1             1     0
3               615     1          2.5  ...        1             0     0
4              1821     1          1.2  ...        1             1     0
...             ...   ...          ...  ...      ...           ...   ...
1995            794     1          0.5  ...        1             1     0
1996           1965     1          2.6  ...        1             1     1
1997           1911     0          0.9  ...        1             1     0
1998           1512     0          0.9  ...        1             1     1
1999            510     1          2.0  ...        1             1     1

[2000 rows x 20 columns]

In [47]:
import numpy as np
df_train_log1 = (features+1).transform(np.log)
#Negative Values Handling
#Note that the values are different
df_train_log = (features - features.min()+1).transform(np.log)
#df_train_log1
df_train_log

      battery_power      blue  clock_speed  ...   three_g  touch_screen      wifi
0          5.834811  0.000000     0.993252  ...  0.000000      0.000000  0.693147
1          6.255750  0.693147     0.000000  ...  0.693147      0.693147  0.000000
2          4.143135  0.693147     0.000000  ...  0.693147      0.693147  0.000000
3          4.744932  0.693147     1.098612  ...  0.693147      0.000000  0.000000
4          7.186144  0.693147     0.530628  ...  0.693147      0.693147  0.000000
...             ...       ...          ...  ...       ...           ...       ...
1995       5.683580  0.693147     0.000000  ...  0.693147      0.693147  0.000000
1996       7.289611  0.693147     1.131402  ...  0.693147      0.693147  0.693147
1997       7.252054  0.000000     0.336472  ...  0.693147      0.693147  0.000000
1998       6.919684  0.000000     0.336472  ...  0.693147      0.693147  0.693147
1999       2.302585  0.693147     0.916291  ...  0.693147      0.693147  0.693147

[2000 rows x 20 columns]

In [48]:
from sklearn.model_selection import train_test_split

log_features = df_train_log
target = df_train['price_range']

x=log_features.values
y=target.values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state =42)

In [49]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [50]:
from sklearn.svm import SVC
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

77.0

In [51]:
#5D

df_train = pd.read_csv('/content/train.csv')
df_train

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [52]:
V = (df_train["px_height"]) *(df_train["px_width"] * df_train['m_dep'])
train_V = df_train.drop(["px_height","px_width","price_range" , "m_dep"], axis=1, inplace=False)
train_V['V'] = V
train_V

      battery_power  blue  clock_speed  ...  touch_screen  wifi          V
0               842     0          2.2  ...             0     1     9072.0
1              1021     1          0.5  ...             1     0  1259398.0
2               563     1          0.5  ...             1     0  1950577.2
3               615     1          2.5  ...             0     0  1737420.8
4              1821     1          1.2  ...             1     0   878457.6
...             ...   ...          ...  ...           ...   ...        ...
1995            794     1          0.5  ...             1     0  1847664.0
1996           1965     1          2.6  ...             1     1   359595.0
1997           1911     0          0.9  ...             1     0   991603.2
1998           1512     0          0.9  ...             1     1    22512.0
1999            510     1          2.0  ...             1     1   327763.8

[2000 rows x 18 columns]

In [53]:
x_train, x_test, y_train, y_test = train_test_split(train_V, y, test_size = 0.2, random_state =42)
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [54]:
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

83.25

## **QUESTION 6**

In [55]:
bin_train = df_train
bin_train['average_battery'] = pd.cut(bin_train['battery_power'] , bin ,labels = av_6)

new_df = bin_train.drop(["px_height","px_width","price_range" ,"m_dep", "battery_power"], axis=1, inplace=False)
new_df['V'] = V
new_df.head()

   blue  clock_speed  dual_sim  ...  wifi  average_battery          V
0     0          2.2         0  ...     1       622.220056     9072.0
1     1          0.5         1  ...     0       873.098214  1259398.0
2     1          0.5         1  ...     0       622.220056  1950577.2
3     1          2.5         0  ...     0       622.220056  1737420.8
4     1          1.2         0  ...     0      1878.072727   878457.6

[5 rows x 18 columns]

In [56]:
new_df

      blue  clock_speed  dual_sim  ...  wifi  average_battery          V
0        0          2.2         0  ...     1       622.220056     9072.0
1        1          0.5         1  ...     0       873.098214  1259398.0
2        1          0.5         1  ...     0       622.220056  1950577.2
3        1          2.5         0  ...     0       622.220056  1737420.8
4        1          1.2         0  ...     0      1878.072727   878457.6
...    ...          ...       ...  ...   ...              ...        ...
1995     1          0.5         1  ...     0       622.220056  1847664.0
1996     1          2.6         1  ...     1      1878.072727   359595.0
1997     0          0.9         1  ...     0      1878.072727   991603.2
1998     0          0.9         0  ...     1      1623.406627    22512.0
1999     1          2.0         1  ...     1       622.220056   327763.8

[2000 rows x 18 columns]

In [57]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   blue             2000 non-null   int64
 1   clock_speed      2000 non-null   float64
 2   dual_sim         2000 non-null   int64
 3   fc               2000 non-null   int64
 4   four_g           2000 non-null   int64
 5   int_memory       2000 non-null   int64
 6   mobile_wt        2000 non-null   int64
 7   n_cores          2000 non-null   int64
 8   pc               2000 non-null   int64
 9   ram              2000 non-null   int64
 10  sc_h             2000 non-null   int64
 11  sc_w             2000 non-null   int64
 12  talk_time        2000 non-null   int64
 13  three_g          2000 non-null   int64
 14  touch_screen     2000 non-null   int64
 15  wifi             2000 non-null   int64
 16  average_battery  2000 non-null   category
 17  V                2000 non-null   float64
dtypes: category(1), float64(2), int64(15)
memory usage: 267.9 KB

In [58]:
new_df['avrg_battery'] = pd.to_numeric(new_df['average_battery'])
new_df.drop(['average_battery'], axis=1, inplace=True)

In [59]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   blue          2000 non-null   int64
 1   clock_speed   2000 non-null   float64
 2   dual_sim      2000 non-null   int64
 3   fc            2000 non-null   int64
 4   four_g        2000 non-null   int64
 5   int_memory    2000 non-null   int64
 6   mobile_wt     2000 non-null   int64
 7   n_cores       2000 non-null   int64
 8   pc            2000 non-null   int64
 9   ram           2000 non-null   int64
 10  sc_h          2000 non-null   int64
 11  sc_w          2000 non-null   int64
 12  talk_time     2000 non-null   int64
 13  three_g       2000 non-null   int64
 14  touch_screen  2000 non-null   int64
 15  wifi          2000 non-null   int64
 16  V             2000 non-null   float64
 17  avrg_battery  2000 non-null   float64
dtypes: float64(3), int64(15)
memory usage: 281.4 KB

In [60]:
new_df_log = (new_df - new_df.min() + 1).transform(np.log)
#df_train_log1
new_df_log

          blue  clock_speed  dual_sim  ...      wifi          V  avrg_battery
0     0.000000     0.993252  0.000000  ...  0.693147   9.113058      0.000000
1     0.693147     0.000000  0.693147  ...  0.000000  14.046145      5.528945
2     0.693147     0.000000  0.693147  ...  0.000000  14.483636      0.000000
3     0.693147     1.098612  0.000000  ...  0.000000  14.367913      0.000000
4     0.693147     0.530628  0.000000  ...  0.000000  13.685924      7.136366
...        ...          ...       ...  ...       ...        ...           ...
1995  0.693147     0.000000  0.693147  ...  0.000000  14.429433      0.000000
1996  0.693147     1.131402  0.693147  ...  0.693147  12.792736      7.136366
1997  0.000000     0.336472  0.693147  ...  0.000000  13.807079      7.136366
1998  0.000000     0.336472  0.000000  ...  0.693147  10.021848      6.909939
1999  0.693147     0.916291  0.693147  ...  0.693147  12.700052      0.000000

[2000 rows x 18 columns]

In [61]:
features_log = new_df_log
target = df_train['price_range']

x=features_log.values
y=target.values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state =42)

In [62]:
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [63]:
SVM = SVC()
SVM.fit(x_train , y_train)
SVM.score(x_test, y_test)*100

75.5

## **QUESTION 8**

In [64]:
df_train = pd.read_csv('/content/train.csv')
df_train

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [65]:
from sklearn.model_selection import train_test_split

features = df_train.drop(columns=['price_range'])
target = df_train['price_range']

x=features.values
y=target.values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state =42)

In [66]:
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [67]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=42)
dt.fit(x_train,y_train)
print(dt.score(x_test,y_test)*100)

83.5

## **QUESTION 9**

In [68]:
dt = DecisionTreeClassifier(random_state=42, max_depth=5)
dt.fit(x_train,y_train)
print(dt.score(x_test,y_test)*100)

80.0

In [69]:
dt = DecisionTreeClassifier(random_state=42, max_depth=20)
dt.fit(x_train,y_train)
print(dt.score(x_test,y_test)*100)

83.5

In [70]:
dt = DecisionTreeClassifier(random_state=42, max_depth = 5, min_samples_leaf= 5)
dt.fit(x_train,y_train)
print(dt.score(x_test,y_test)*100)

81.0

In [71]:
dt = DecisionTreeClassifier(random_state=42, min_samples_leaf= 10)
dt.fit(x_train,y_train)
print(dt.score(x_test,y_test)*100)

85.25

In [72]:
dt = DecisionTreeClassifier(random_state=42, min_samples_leaf= 25)
dt.fit(x_train,y_train)
print(dt.score(x_test,y_test)*100)

82.5

## **QUESTION 12**

In [73]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=42)
rf.fit(x_train,y_train)
print(rf.score(x_test,y_test)*100)

89.25